{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Exams!</title>
  <meta content=" The Graduate Employment and Research Programme " name="description">
  <meta content="Gersep, GERSEP, internship, Graduate training" name="keywords">
<style>
  .justify {text-align: justify;

  }
p {color: white}
</style>
  <style>
  div {white-space: normal;

  }

</style>
  <!-- Favicons -->
    <link rel="icon" href="{% static '../../static/images/GERSEP.jpg' %}" type="image/x-icon">
  <link href="{%static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mamba - v2.3.0
  * Template URL: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body style="background-color:#003300; margin: 20px ">
<div class="container">
     {%for question in questions%}
          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">

            <h4 style="color: white">Start time: {{question.start_time}} <br> Deadline: {{question.deadline}}</h4>

          </div>
          <br>
          {%endfor%}

<form method="POST"> {% csrf_token %}
     {% if error %}
               <p style="color: red"> {{ error }} </p>
            <p style="font-size: 15px"> <strong style="color:red">*</strong>please obey!!</p>
                {% endif %}
    {{ form.as_p }}


    <input type="submit" value="Submit">

</form>
    </div>
<div class="container">
    <h3 style="text-align: center; color: White">Instructions</h3>
    <p>
       <br> 1) Kindly read and re-read this instruction and be sure you understand. <br> 2) You CANNOT write the exam for another person. Hence kindly select the email you logged in with in the email part of the question. <br> 3) Make sure you select the question you are answering in the dropdown , otherwise, your work will not be submitted. <br> 4) Kindly input the last 2 NUMBERS of your candidate code to complete the candidate code section. <br>5) YOU CANNOT RESUBMIT after submission. Kindly make sure you are sure before submission.<br> 6) Submit at least 2 mins before the deadline as your submission will not be accepted afterwards.<br> 7) There is no running time on the page, kindly keep to mind the deadline and your current time.<br> 8) Do not submit without filling all parameters. Cheers.
    </p>

</div>

  <!-- Vendor JS Files -->
  <script src="{%static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{%static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{%static 'assets/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{%static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{%static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{%static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{%static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{%static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{%static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js' %}"></script>

</body>

</html>