{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Gersep</title>
  <meta content=" The Graduate Employment and Research Programme " name="description">
  <meta content="Gersep, GERSEP, internship, Graduate training" name="keywords">
<style>
  .justify {text-align: justify;

  }

</style>
  <style>
  div {white-space: normal;

  }

</style>
  <!-- Favicons -->
 <link rel="icon" href="{% static '../../static/images/GERSEP.jpg' %}" type="image/x-icon">
  <link href="{%static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{%static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mamba - v2.3.0
  * Template URL: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body >

  <section style="background-color:  MediumSeaGreen; color: white" id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">
      <h1 style="text-align: center; font-family: 'Actor'; "> Graduate Employment and Research Enhancement Programme (GERSEP)</h1>
      </div>


  </section>

  <!-- ======= Header ======= -->
  <header  id="header">
    <div class="container">

      <div class="logo float-left">
        <!--<h1 class="text-light"><a href="index.html"><span>Gersep</span></a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/login"><img src="{% static '../../static/images/isref.png' %}" alt="" class="img-fluid"></a>
      </div>
      <div class="logo float-left">
        <!--<h1 class="text-light"><a href="index.html"><span>Gersep</span></a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/login"><img src="{% static '../../static/images/GERSEP.jpg' %}" alt="" class="img-fluid"></a>
      </div>
      <div class="logo float-left">
        <!--<h1 class="text-light"><a href="index.html"><span>Gersep</span></a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/login"><img src="{% static '../../static/images/isscir.jpg' %}" alt="" class="img-fluid"></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url('{% static '../../static/images/img1.jpg' %}'); padding: 200px">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Gersep</span></h2>
                <p class="animate__animated animate__fadeInUp">The Graduate Employment and Research Skill Enhancement Project (GERSEP) is the brain child of the Innovative Science Research Foundation (ISREF).</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background-image: url('{% static '../../static/images/img2.jpg' %}'); padding: 200px;">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">Mission</h2>
                <p style="white-space: normal;" class="animate__animated animate__fadeInUp">The Mission of GERSEP is to help young graduates develop capacities for problem identification, problem analysis and solution generation, as well as innovative thinking, research/grant fund mining and team work ethics.</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background-image: url('{% static '../../static/images/img3.jpg' %}'); padding: 200px;">
            <div class="carousel-container">
              <div class="carousel-content container">
                <h2 class="animate__animated animate__fadeInDown">Vision</h2>
                <p style="white-space: normal;" class="animate__animated animate__fadeInUp">The vision of GERSEP is to create enabling platforms for young graduates to achieve....</p>
                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="col-lg-6 video-box">
            <img src="{% static '../../static/images/img.jpg' %}" class="img-fluid" alt="">
            <a href="https://youtu.be/18Nh3yYXJAA" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

            <div style="white-space: normal;"  class="section-title" >
              <h2>About Us</h2>
              <p style="text-align: justify;">The Graduate Employment and Research Skill Enhancement Project (GERSEP)
                is the brain child of the Innovative Science Research Foundation (ISREF).
                It was an idea conceived in the year 2013 with the intention of recruiting Graduate
                Interns and equipping them with intellectual skills that would help them face the challenges
                of life after graduating from their various Universities. ISREF is a duly registered Non-Profit/Non-Governmental Organization,
                  with Anthonio Research Publications (ARP) and the International Society of Science Researchers (ISSCIR) as affiliates. ARP is the publisher of the International Journal of Basic, Applied and Innovative Research (IJBAIR), International Journal of Community Research (IJCR) and the International Journal of Herbs and Pharmacological Research (IJHPR),
                while ISSCIR is a duly registered Academic Society for Innovative Scientists.</p>
            </div>

            <div style="white-space: normal;" class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div style="text-align: justify;" class="icon"><i></i></div>
              <h4 class="title"><a href="">Mission</a></h4>
              <p style="text-align: justify;" class="description">The Mission of GERSEP is to help young graduates develop
                capacities for problem identification, problem analysis and solution generation,
                as well as innovative thinking, research/grant fund mining and team work ethics.</p>
            </div>

            <div style="white-space: normal;" class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div style="text-align: justify;" class="icon"></div>
              <h4 class="title"><a href="">Vision</a></h4>
              <p class="description">The vision of GERSEP is to create enabling platforms for young graduates to achieve: <br> </p>
             <ul style="text-align: justify;">
              <li>Overall research proficiency with specialization in identified areas of interest.
              </li>
               <li>Capacity to discern and apply learnt skills for community service.
              </li>
               <li>Pass recommended online courses (especially in identified areas of specialization) that are offered by recognized institutions.
              </li>
               <li>Capacity for independent innovative applications of learnt skills.
              </li>
               <li> Publish 15 or more works in renowned online based Journals.
              </li>
               <li> Attend academic conferences in the capacity of a Student/Interns.
              </li>
              <li>
                Design and test-run a private enterprise model in your chosen area of specialization, and
              </li>
              <li>
                Identify specific fields for possible application submission.
              </li>
            </ul>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Lists Section ======= -->
    <section style="white-space: normal;" class="about-lists">
      <div class="container">
        <div class="section-title">
          <h2>Recent News</h2>
        </div>

        <div style="white-space: normal;" class="row no-gutters">
          {% for news in news%}
          <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
            <p> {{news.published_date}}</p>
            <h4>{{news.title}}</h4>
            <p style="text-align: justify;">{{news.text}}</p>
          </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End About Lists Section -->




    <!-- ======= Our Portfolio Section ======= -->

    <!-- ======= Our Team Section ======= -->
    <section style="white-space: normal;" id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2>Our Team</h2>
          <p>Gersep is led by a team of innovators and future builders</p>
        </div>

        <div class="row">

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="{% static '../../static/images/img5.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4> Prof Anthony O. Nwaopara <br> PhD, FIIA, FISSCIR</h4>
                <span>Director</span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="pic"><img src="{% static '../../static/images/img6.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4> Richard O. Daodu</h4>
                <span>Internship Coordinator</span>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>


          </div>


          </div>


    </section><!-- End Our Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="row  d-flex align-items-stretch">

          <div class="col-lg-6 faq-item" data-aos="fade-up">
            <h4>Is Gersep for profit making?</h4>
            <p>
             No, Gersep is more concerned about investing in Graduates than making profit.
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="100">
            <h4>Are Gersep certifications recognised?</h4>
            <p>Yes, Gersep certificates are awarded on merit by the Director, a University full Professor.</p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="200">
            <h4>Why should I intern at Gersep?</h4>
            <p>Gersep will definitely leave you fit to survive in the 21<sup>st</sup> century market.</p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="300">
            <h4>Is Gersep for a specific field?</h4>
            <p>
            Gersep is currently focused on areas within Sciences and innovation.
            </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="400">
            <h4>Is the Internship paid?</h4>
            <p>
              Depending on the criteria of admission, some of the interns will be paid stipends.
             </p>
          </div>

          <div class="col-lg-6 faq-item" data-aos="fade-up" data-aos-delay="500">
            <h4>What is the duration of the Internship?</h4>
            <p>
              The duration of the internship is based on the discretion of the management and is announced alongside the call for application.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact" >
      <div class="container">

        <div class="section-title">
          <h2>Contact Us</h2>
        </div>

        <div class="row">

          <div class="col-lg-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="info-box" >
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p style="text-align: center;">Ekpoma, Edo State, Nigeria.</p>
            </div>
          </div>

          <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p style="text-align: center;">Intern@anrescentpub.com<br>Nwaoparaao@yahoo.com</p>
            </div>
          </div>

          <div class="col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box ">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p style="text-align: center;">07035432323</p>
            </div>
          </div>

          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-lg-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-lg-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer style="background-color: MediumSeaGreen;" id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>GERSEP</h3>
            <p>
              Ekpoma, Edo State, Nigeria<br><br>
              <strong>Phone:</strong> 07035432323<br>
              <strong>Email:</strong> intern@anrescentpub.com<br>
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graduate Training</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Entrepreneurial Services </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Undergraduate Training</a></li>

            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Kindly input your email to receive News from us delivered directly to you </p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span> Gersep</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mamba-one-page-bootstrap-template-free/ -->
        powered by <a href="https://bootstrapmade.com/">BootstrapMade</a> and GERSEP Tech team.
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{%static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{%static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{%static 'assets/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{%static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{%static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{%static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{%static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{%static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{%static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{%static 'assets/js/main.js' %}"></script>

</body>

</html>